// Device sizes
$break-small: 500px;
$break-large: 980px;

// Fonts
$font-stack: Helvetica, Arial, sans-serif;

// Colors
$primary-color: #3c77b3;
$primary-shade: #7e9dae;
$secondary-color: #aee7ff;

$error: #e84b31;
$success: #48E855;
$information: #00B7FF;